body{
    margin: 0px
}
.arial {
    font-family: Arial;
}
.description{
    font-family: Arial;
    border: 1px solid grey;
    width: 300px;
    height: 148px;
}
.header{
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    height:35px;
}
input{
    margin: 5px;
}
.pointer, button{
    cursor: pointer;
}
.chosenTitle{
    margin: 15px;
}
textarea{
    margin: 2%;
    width: 96%;
    height: 80px;
    resize: none;
}
.saveBtn{
    padding: 5px;
}
A:link{
   text-decoration: none;
   color: black;
}
A:visited{
    text-decoration: none;
    color: black;
}
A:active{
    text-decoration: none;
}
A:hover{
    color: red;
}
