<h2>
    <input placeholder = 'Note name' ng-model = 'listCtrl.noteText'>
    <button ng-click = 'listCtrl.addNote()'>Add</button>
    <br/>
    <input placeholder = 'Filter' ng-model = 'listCtrl.filter'>

    <ul class = 'arial'>
        <item
            ng-repeat = 'note in listCtrl.list | listFilter:listCtrl.filter'
            remove = 'listCtrl.removeNote(note)'
            edit = 'listCtrl.editNote(note)'
            note = 'note'>
        </item>
    </ul>
</h2>
