<h2 ng-if = 'noteCtrl.exist'>
    <div class = 'description'>
        <span class = 'chosenTitle'>Title: {{noteCtrl.title}}</span>
        <button ng-click = 'noteCtrl.saveDescription()'>Save</button><br />
        <span class = 'chosenTitle'>Author: {{noteCtrl.author}}</span>
        <textarea
            ng-model = 'noteCtrl.text'>
        </textarea>
        <convert data = 'noteCtrl.text'></convert>
    </div>
</h2>
<h1 ng-if = '!noteCtrl.exist'>404</h1>
